/docs/ref-deeplearning/.ipynb_checkpoints/*
/docs/ref-deeplearning/.env
/docs/git_passcode/*
.ipynb_checkpoints/*
.venv
/WYNAssociates.egg-info/*
WYNAssociates.egg-info/*
/build/*
build/*
# Web app artifacts
web-app/ui/wyn-app/node_modules/
web-app/ui/wyn-app/dist/
web-app/ui/wyn-app/dist.zip
web-app/ui/lambda_function.zip
web-app/ui/wyn-app-dist.tar.gz
web-app/ui/wyn-app-dist.zip